<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Posts</h1>
  <a [routerLink]="['/admin/create-post']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
      class="fas fa-download fa-sm text-white-50"></i>Create New</a>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <button class="input-group-text" (click)="search(searchWord)">Search</button>
  </div>
  <input type="text" class="form-control" placeholder="Search in post body" #searchWord>
  <div class="input-group-prepend">
    <button class="input-group-text" (click)="reset(searchWord)">Reset</button>
  </div>
</div>
<br><br>


<div class="row" *ngIf="posts.length == 0">
  <div class="col-sm-12 list-margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center" style="color: blue;"><b>Threre is no posts</b></h5>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="posts.length > 0">
  <div class="col-sm-6 list-margin" *ngFor="let post of posts">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body | summary:50}}</p>
        <a routerLink='/admin/details-post/{{post._id}}' class="btn btn-info btn-margin">Details</a>
        <a routerLink='/admin/edit-post/{{post._id}}' class="btn btn-warning btn-margin">Edit</a>
        <button (click)="delete(post._id)" class="btn btn-danger btn-margin">Delete</button>
        <p class="card-text alert alert-dark float-right"><small class="text-muted">{{post.categoryId.name}}</small></p>
      </div>
    </div>
  </div>
</div>
