<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Users</h1>
  <a [routerLink]="['/admin/create-user']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-download fa-sm text-white-50"></i>Create New</a>
</div>


<div class="input-group">
  <div class="input-group-prepend">
    <button class="input-group-text" (click)="search(searchEmail)">Search @ </button>
  </div>
  <input type="text" class="form-control" placeholder="Search by email" #searchEmail>
  <div class="input-group-prepend">
    <button class="input-group-text" (click)="reset(searchEmail)">Reset</button>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-sm-6 list-margin" *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">{{user.email}}</p>
        <a routerLink='/admin/details-user/{{user._id}}' class="btn btn-info btn-margin">Details</a>


        <ng-template [ngIf]="user.email != email" [ngIfElse]="others">
          <a routerLink='/admin/edit-user/{{user._id}}' class="btn btn-warning btn-margin">Edit</a>
          <button (click)="delete(user._id)" class="btn btn-danger btn-margin">Delete</button>
        </ng-template>

        <ng-template #others>
          <button class="btn btn-success btn-margin">It's Me</button>
        </ng-template>


        <p class="card-text alert alert-dark float-right"><small
            class="text-muted">{{user.isAdmin ? 'Admin' : 'Registered User'}}</small></p>
      </div>
    </div>
  </div>
</div>
